<!doctype html>
<html>
<head>
	<title>Simple chat application</title>
	<link href="/css/chat.min.css" type="text/css" rel="stylesheet" />
	<script src="/js/chat.min.js"></script>
</head>
<body>
	<div id="Main">
		{{{body}}}
	</div>
</body>
</html>
