<div id="Chat">
	<a id="BtnLogout" href="#"><span class="value">Logout</span></a>

	<div id="ChatContainer"></div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
	$(document).ready(function () {
		new App.Ctrl.Chat({ container: 'ChatContainer' });
	});
</script>
