<div id="Login">
	<form action="/user/login" method="post" id="FormLogin">
		<label for="FormLoginUsername">
			<input type="text" id="FormLoginUsername" name="username" placeholder="Username..." />
			<div class="errmsg"></div>
		</label>
		<label for="FormLoginPassword">
			<input type="password" id="FormLoginPassword" name="password" placeholder="Password..." />
			<div class="errmsg"></div>
		</label>
		<div class="errmsg"></div>
		<button type="submit">Log in</button>
	</form>
</div>

<script src="/js/ctrl/index.js"></script>
<script>
	$(document).ready(function () {
		new App.Ctrl.Index();
	});
</script>
